<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>only for testing</h1>
    <h2 id="ct"></h2>
    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/sc/');

        ws.onopen=function(event) {
            console.log('websocket connection open...',event);
            ws.send("Hello server, this is client!");
        };
        ws.onmessage=function(event) {
            console.log('Message Received from server...',event.data);
            console.log('type of event data',typeof(event.data));
            var data=JSON.parse(event.data);
            console.log('type of parsed data',typeof(data));
            document.getElementById("ct").innerText=data.count;
        };
        ws.onerror=function(event) {
            console.log('websocket Error occurred...',event);
        };
        ws.onclose=function(event) {
            console.log('websocket connection closed...',event);
        };
    </script>
</body>
</html>